<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Post Date</th>
                    <th>Published</th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                    <tr>
                        <td>{{increment @index}}</td>     
                        <td>{{title}}</td>      
                        <td>{{category}}</td>   
                        <td>{{postDate}}</td>    
                        <td>{{published}}</td>   
                    </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
    <div class="col-md-12 text-center">
    {{#unless posts}}
        <strong>{{message}}</strong>
    {{/unless}}
</div>

